//
//  Prod.xcconfig
//  test-r-swift
//
//  Created by Ayokunle Fatokimi on 28/04/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-test-r-swift/Pods-test-r-swift.debug (prod).xcconfig"
#include "Pods/Target Support Files/Pods-test-r-swift/Pods-test-r-swift.release (prod).xcconfig"

#include "Base.xcconfig"

APP_NAME = $(inherited)

