//
//  Prod.xcconfig
//  test-r-swift
//
//  Created by Ayokunle Fatokimi on 28/04/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "/Users/afatokimi/Downloads/test-r-swift/Pods/Target Support Files/Pods-test-r-swiftTests/Pods-test-r-swiftTests.release (prod).xcconfig"
#include "/Users/afatokimi/Downloads/test-r-swift/Pods/Target Support Files/Pods-test-r-swiftTests/Pods-test-r-swiftTests.debug (prod).xcconfig"

APP_NAME = test-rSwift
